body {
    background-color: #b0c4de;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article {
    background-color: #d5e3f0;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.linktext {
    text-align: center;
    list-style: none;
}

.linktext a {
    background-color: #d5e3f0;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
    border-radius: 0.5rem 0.5rem;
    display: inline-block;
}

footer {
    background-color: #d5e3f0;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

img {
    width: 30vw;
    height: auto;
}

.content {
    width: 40vw;
    text-align: left;
}

.content img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 480px) {
    .content {
        width: 100%;
    }

    .content img {
        width: 100%;
    }

    section {
        grid-template-columns: 1fr;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

/* FORM */

section {
    background-color: #d5e3f0;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
}

fieldset {
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;

}

.submit {
    margin: 1rem auto;
    text-align: center;
}

.submit input {
    width: 30%;
    min-width: 100px;
}

label {
    display: block;
    padding-bottom: 7px;
}

@media (max-width: 480px) {
    form {
        grid-template-columns: 1fr 1fr;
    }
}